{% extends 'baseauth.html' %}
{% block title %}
    <title>Klin Lag | About Us </title>

    <link href="../../static/styles/about.css" rel="stylesheet" >
    <link href="../../static/styles/companysignup.css" rel="stylesheet" >
{% endblock %}
{% block body %}
        <img src="../../static/assets/hero-img.png" class="hero" alt="hero-image">
   
<!-- ABOUT SECTION -->

<h2 class="center"> ABOUT KLIN LAG</h2>
<div class="about">
  <div class="about-item1 center">
  <h4>Who we are</h4>
  <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit.</p>
  </div>    
  
  <div class="about-item2 center">
  <h4>Our Mission</h4>
  <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit.</p>
  </div>
   
   
</div>

<!-- SERVICES SECTION -->

<h2 class="center"> OUR SERVICES</h2>
<div class="about_container">
  <div class="box1">
    <img src="../../static/assets/17931 1.png" alt="environment" >

  </div>

    <div class="box2">

      <h3 class="ha"> Environmental Clean Up</h3>
     <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit. </p>

  </div>

      <div class="box3">
    <h3 class="ha"> Recycling Waste</h3>
         <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit. </p>

  </div>

        <div class="box4">
    <img src="../../static/assets/stereo1.png" alt="recycle" >
  </div>


  </div>

<!-- Second container -->
<div class="about_container">
  <div class="box5">
    <img src="../../static/assets/protection1.png" alt="environment" >

  </div>

    <div class="box6">

      <h3 class="ha"> Collect and Dispose Waste</h3>
    <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit. </p>
   </div>

      <div class="box7">
    <h3 class="ha"> Reward Users </h3>
         <p>Occaecat elit in dolor ut esse culpa et ipsum sint elit fugiat. Nulla ad exercitation laboris ut mollit aliquip magna. Occaecat occaecat pariatur deserunt commodo irure ipsum aliqua velit. </p>
     </div>

        <div class="box8">
    <img src="../../static/assets/tree.png" alt="environment" >
  </div>

  </div>
  <!-- PROJECTS -->
  <!-- PROJECTS -->

<div id="projects">
  <h2 class="center"> PROJECTS</h2>
  <div class="projects">
    <img src="../../static/assets/Rectangle%2058.png">
    <img src="../../static/assets/Rectangle%2059.png">
    <img src="../../static/assets/Rectangle%2060.png">
    <img src="../../static/assets/Rectangle%2061.png">
    <img src="../../static/assets/Rectangle%2062.png">
    <img src="../../static/assets/Rectangle%2063.png">
    <img src="../../static/assets/Rectangle%2064.png">
    <img src="../../static/assets/Rectangle%2065.png">
  </div>
  
</div>

<!-- PARTNERS -->
<div id="partners">
  <h2 class="center"> OUR PARTNERS</h2>
  <div class="partners">
    <div class="partner-pictures">
      <img src="../../static/assets/regroup.png" alt="regroup" class="partners-logo">
      <img src="../../static/assets/green-planet.png" alt="green planet" class="partners-logo">
      <img src="../../static/assets/lawma.png" alt="lawma" class="partners-logo">
      <img src="../../static/assets/nrc.png" alt="nrc" class="partners-logo">
      <img src="../../static/assets/Plastship.png" alt="plastship" class="partners-logo">
      <img src="../../static/assets/pampers.png" alt="pampers" class="partners-logo">
    </div>
    <div class="become-a-partner">
      <h4 class="partner-text">Become a Partner</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et mauris libero suspendisse in urna, fusce imperdiet
        aliquet.</p>
      <button>LEARN MORE</button>
    </div>
  </div>
 
    
    
</div>

 

<!-- FOOTER -->
{% endblock %}