{% extends 'baseauth.html' %}
{% load static %}
{% block title %}
{#    <link rel="stylesheet" media="all" href={% static "vendor/select2/select2.min.css"%} >#}
{#    <link rel="stylesheet" media="all" href={% static "vendor/datepicker/daterangepicker.css"%} >#}
    <link rel="stylesheet" href="../../static/styles/usersignup.css">
    <!-- Main CSS-->
    <link rel="stylesheet" media="all" href={% static "css/main.css"%} >
    <title>Klin Lag</title>
{% endblock %}
{% block card %}
    <div class="p-t-180 p-b-100 font-lato">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
{% block body %}
    {% load crispy_forms_tags %}
    <h5 class="card-title text-center"><b>Update Profile</b></h5>
          <form class="form-signin" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ u_form|crispy }} {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Update</button
              ><br /><br />
              <a
                class="btn btn-lg btn-warning btn-block text-uppercase"
                href="{% url 'main_app:my_profile' %}"
                >Go Back</a
              >
            </div>
          </form>
{% endblock %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}

