{% extends 'base3.html' %}
{% load static %}

{% block head %}
{#<html>#}
{#<head>#}
{##}
{#</head>#}
{#<title>#}
{#    Welcome to klin lag#}
{#</title>#}
{#<body>#}
{#<div>#}
{#    <p><a href="{% url 'main_app:login' %}">click here to login</a>or <a href="{% url 'main_app:signup_agency' %}">here to sign up as a collector</a> and <a href="{% url 'main_app:signup_user' %}">here as a depositor</a></p>#}
{#</div>#}
{#</body>#}
{#</html>#}
                    <h2 class="title">Welcome</h2>

                    <a href="{% url 'main_app:signup_agency' %}"><button class="btn btn--yellow">Click here to sign up as a collector</button></a>
                    <br/><br/>
                    <p class="text-dark" style="font-size: 25px">or </p>
                    <br/><br/>
                    <a href="{% url 'main_app:signup_user' %}"><button class="btn btn--green">Here as a depositor</button></a>

                    <br/> <br/>
                    <p class="text-center text-dark">If you already have an account,
                        <a href="{% url 'main_app:login' %}"  style="color: green">login</a> instead.</p>

{% endblock %}