{% extends 'baseauth.html' %}
{% load static %}
{% block title %}

    <link rel="stylesheet" href="../../static/styles/usersignup.css">
    <!-- Main CSS-->
    <link rel="stylesheet" media="all" href={% static "css/main.css"%} >
    <title>Klin Lag</title>
{% endblock %}
{% block card %}
    <div class="p-t-180 p-b-100 font-lato">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
{% block body %}
    {% load crispy_forms_tags %}


                    <div class="card-profile-image">
                <a href="{{ user.profile.image.url }}">
                  <img
                    src="{{ user.profile.image.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                    alt="profile pic"
                  />
                </a>
                    <p class="text-center text-info">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-center text-dark">Section Points: {{ user.profile.section_points }}</p>

                        <br/><br/>
                    <a href="{% url 'main_app:edit_profile' %}"><button class="btn btn--green">Edit Profile</button></a>
              </div>


{% endblock %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}