{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/navbarfooter.css">
    <link rel="stylesheet" href="../../static/styles/recyclable-pickup.css">
    <title>Pick Up</title>
</head>
<body>
{% include 'messages.html' %}
    <nav class="navbar">
        <div class="nav-item">
          <div class="left">
            <img src="../../static/assets/logo.png" alt="LOGO">
          </div>
          <div class="right">
            <div class="nav-links">
              <a href="/">HOME</a>
              <a href="/">ABOUT US</a>
              <a href="/">HOW IT WORKS</a>
              <a href="/">CONTACT US</a>
              <a href="/">BLOG</a>
            </div>
          </div>
        </div>
      </nav>
    <header>
        <p>Pick-Up Services</p>
    </header>
<section class="body-container py-3">
    <div class="py-2">
        <h2>Request Pickup</h2>
        <p>Home / Pickup</p>
    </div>
    <div class="pickup p-2">
        <h3 class="py-3">Pickup Details</h3>
        <form class="pickup-form d-grid" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="fullname">Full Name</label>
                {{ request_form.full_name.errors }}
{#                <input type="text" name="name" id="fullname" placeholder="John Doe">#}
                {% render_field request_form.full_name  type="text" name="name" id="fullname" placeholder="John Doe"%}
            </div>
            <div class="form-group">
                <label for="mail">Email Address</label>
                {{ request_form.email.errors }}
{#                <input type="email" name="mail" id="mail" placeholder="johndoe@example.com">#}
                {% render_field request_form.email type="email" name="mail" id="mail" placeholder="johndoe@example.com"%}
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                {{ request_form.phone.errors }}
{#                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="+234">#}
                {% render_field request_form.phone type="text" name="phoneNumber" id="phoneNumber" placeholder="+234"%}
            </div>
            <div class="form-group">
                <label for="pickup-address">Pickup Address</label>
                {{ request_form.address.errors }}
{#                <input type="text" name="pickup-address" id="pickup-address" placeholder="Ajah, Lagos, Nigeria">#}
                {% render_field request_form.address  type="text" name="pickup-address" id="pickup-address" placeholder="Ajah, Lagos, Nigeria"%}
            </div>
            <div class="form-group">
                <label for="pickupDate">Pickup Date</label>
                {{ request_form.date.errors }}
{#                <input type="date" name="pickupDate" id="pickupDate" placeholder="DD.MM.YY">#}
                {% render_field request_form.date type="date" name="pickupDate" id="pickupDate" placeholder="DD.MM.YY" %}
            </div>
            <div class="form-group">
                <label for="pickupTime">Pickup Time</label>
                {{ request_form.time.errors }}
{#                <input type="time" name="pickupTime" id="pickupTime" placeholder="Between 10:00am - 11:00am">#}
                {% render_field request_form.time  type="time" name="pickupTime" id="pickupTime" placeholder="Between 10:00am - 11:00am"%}
            </div>
            <div class="for-group">
                <label for="wasteType">Waste Type</label>
                {{ request_form.waste_type.errors }}
{#                <input type="checkbox" name="wasteType" id="wasteType" placeholder="Plastic">#}
                {% render_field request_form.waste_type  type="checkbox" name="wasteType" id="wasteType" placeholder="Plastic"%}
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                {{ request_form.quantity.errors }}
{#                <input type="number" name="quantity" id="quantity" placeholder="E.g 1">#}
                {% render_field request_form.quantity  type="number" name="quantity" id="quantity" placeholder="E.g 1" %}
            </div>
            <div class="form-group">
                <label for="extraNote">An Extra Note <span class="fs-5 text-mute">Anything you'd like us to know</span></label>
                {{ request_form.extra_note.errors }}
{#                <textarea name="extraNote" id="extraNote" cols="30" rows="10"></textarea>#}
                {% render_field request_form.extra_note name="extraNote" id="extraNote" cols="30" rows="10" %}
            </div>
          <div>
            <button type="submit" class="btn btn-green">SCHEDULE PICKUP</button>
              </div>

        </form>


    <p class="text-center py-3">Prefer to drop it off by yourself? , find out where our DROP-OFF CENTRES are located. <a href="{% url 'main_app:recycle-dropoff' %}" class="text-green">TRY IT OUT</a></p>
    </div></section>
<footer class="footer">
    <div class="btm-content">
      <div class="item">
        <div class="btm-logo">
          <img src="../../static/assets/logo-white.png" alt="btm-logo">
        </div>
        <div class="input-area">
          <p class="input-text">SUBSCRIBE TO OUR NEWSLETTER</p>
          <input type="email" name="email" id="email" placeholder="Enter your email address">
          <button class="btn">SUBSCRIBE</button>
        </div>
      </div>
      <div class="item">
        <h4 class="text-lead">ABOUT US</h4>
        <p class="text">Who we are</p>
        <p class="text">Our Mission</p>
        <p class="text">Services</p>
        <p class="text">Our Projects</p>
        <p class="text">Partnerships</p>
      </div>
      <div class="item">
        <h4 class="text-lead">RESOURCES</h4>
        <p class="text">Careers</p>
        <p class="text">Blogs</p>
        <p class="text">My Points</p>
        <p class="text">Gallery</p>
        <p class="text">FAQs</p>
      </div>
      <div class="item">
        <h4 class="text-lead contact">CONTACT US</h4>
        <p class="text icons">
          <i class="fas fa-home">
          </i>
          8 Jubliee-CMD Road,<br> 
          Magodo, Lagos State
        </p>
        <p class="text icons">
          <i class="fas fa-phone-alt"></i>+2349000099900
        </p>
        <p class="text icons">
          <i class="fas fa-envelope"></i>hello@klinlag.ng
        </p>
      </div>
    </div>
    <div class="connect">
      <div class="line">
        <img src="../../static/assets/line.png" alt="line">
      </div>
      <h4 class="connect-text">CONNECT WITH US</h4>
      <div class="line">
        <img src="../../static/assets/line.png" alt="line">
      </div>
    </div>
    <div class="connect-icons">
      <div class="left">
        <a href="#" class="text">Terms</a>
        <a href="#" class="text">Privacy</a>
      </div>
      <div class="icons-connect">
        <a href="facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="youtube.com"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>