{% extends 'baseauth.html' %}
{% block title %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <!-- Fonts -->

    <link rel="stylesheet" href="../../static/styles/usersignup.css">
    <link rel="stylesheet" href="../../static/styles/recyclable-dropoff.css">
    <title>Drop off</title>
{% endblock %}
{% block body %}
    <header>
        <h1>Pick-Up Services</h1>
    </header>
    <section class="body-container d-flex py-3">
        <div class="recycle-info p-2">
            <h2>Recyclables Pick Up at Our Local Centers</h2>
            <p class="fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quisquam! Quos enim obcaecati laborum, dignissimos provident nulla magni perspiciatis dolore, voluptatem natus.</p>
        </div>
        <div class="recycle-img p-2">
            <img src="../../static/assets/various-reusable-trash-around-recycling-symbol.png" alt="">
        </div>
    </section>
    <section id="centers" class="container">
        <h2 class="text-center">Our Centers</h2>
    <div class="center">
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Anthony-Maryland</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/49zWjo7DgxNeFJWT7" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/49zWjo7DgxNeFJWT7" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Yaba</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/wJgZtnSZDgvZ1De56" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/wJgZtnSZDgvZ1De56" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Gbagada Phase 1</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/kKycLsK8AXJ7TgN1A" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/kKycLsK8AXJ7TgN1A" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Victoria Island</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/igxV1LCMyi3NxhtE7" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/igxV1LCMyi3NxhtE7" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Lekki phase 1</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/kx9sra1b312zWVM87" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/kx9sra1b312zWVM87" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Ikorodu</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/toi97w1RwZSKs19i6" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/toi97w1RwZSKs19i6" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Oshodi Isolo</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/jFA3h5EeVak5yxGq9" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/jFA3h5EeVak5yxGq9" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Apapa</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/eAmtukB2ubHcdtRv8" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/eAmtukB2ubHcdtRv8" class="btn btn-green">DIRECTION</a>
        </div>   
        <div class="box p-2">
           <div class="py-1">
               <img src="../../static/assets/Vector.png" alt="image">
               <h3>Badagry</h3>
           </div>
           <div class="py-2">
               <h4 class="p-h">KLIN LAG DROP-OFF CENTRE</h4>
               <li class="fs-3 p-h"><span class="text-green">Address</span>: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga velit vitae!</li>
               <li class="fs-3 p-h"><span class="text-green">Contact</span>:08137683647</li>
           </div>
           <a href="https://goo.gl/maps/aEQgKduGAhor619WA" class="btn btn-yellow">MAP</a>
           <a href="https://goo.gl/maps/aEQgKduGAhor619WA" class="btn btn-green">DIRECTION</a>
        </div>   
    </div>
    </section>
    <p class="text-center py-3">Prefer to have us come do all the work? , we are at your service with our DELIVERY SERVICES. <a href="{% url 'main_app:recycle-delivery' %}" class="text-green">TRY IT OUT</a></p>
{% endblock %}