{% extends 'baseauth.html' %}
{% load static %}
{% block title %}
{#    <link rel="stylesheet" media="all" href={% static "vendor/select2/select2.min.css"%} >#}
{#    <link rel="stylesheet" media="all" href={% static "vendor/datepicker/daterangepicker.css"%} >#}
    <link rel="stylesheet" href="../../static/styles/usersignup.css">
    <!-- Main CSS-->
    <link rel="stylesheet" media="all" href={% static "css/main.css"%} >
    <title>Klin Lag</title>
{% endblock %}
{% block card %}
    <div class="p-t-180 p-b-100 font-lato">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
{% block body %}
    {% load crispy_forms_tags %}


                    <h2 class="title">Welcome</h2>

                    <a href="{% url 'main_app:login_agency' %}"><button class="btn btn--yellow">Click here to sign in as a collector</button></a>
                    <br/><br/>
                    <p class="text-dark" style="font-size: 25px">or </p>
                    <br/><br/>
                    <a href="{% url 'main_app:login-user' %}"><button class="btn btn--green">Here as a depositor</button></a>

                    <br/> <br/>
                    <p class="text-center text-dark">If you don't have an account,
                        <a href="{% url 'main_app:landing' %}"  style="color: green">Sign Up</a> instead.</p>

{% endblock %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}