{% extends 'baseauth.html' %}
{% load widget_tweaks %}

    {% block title %}
  <link rel="stylesheet" href="../../static/styles/usersignup.css">
  <title>Klin Lag | Sign In - User</title>
    {% endblock %}

  {% block body %}

  <section class="sign-up py-7">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 pl-10">
          <h1 class="heading-primary pt-7">Welcome Back</h1>
          <form class="row sign-up__form mb-3" action="" method="post">
              {% csrf_token %}




            <div class="col-md-12 mb-3">
              <label for="user-email" class="form-label">Email</label>
{#              <input type="email" class="form-control shadow-none" id="user-email">#}
                {% render_field login_form.username type="email" class="form-control shadow-none" id="user-email" %}
            </div>

            <div class="row mb-3">
              <div class="col-md-6 col-xs-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
{#                  <input type="password" id="password" class="form-control shadow-none" aria-label="Password">#}
                    {% render_field login_form.password  type="password" id="password" class="form-control shadow-none" aria-label="Password"%}
                  <span class="input-group-text"><img src="../../static/assets/eye.svg" alt="hide"></span>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="auth-group d-flex justify-content-between align-items-center">
                  <button type="submit" class="btn btn-primary btn-lg px-5">Sign In</button>
                  <p class="heading-tertiary">OR</p>
                  <div class="social-signup">
                    <button type="button" class="btn btn-google btn-lg me-4">Google</button>
                    <button type="button" class="btn btn-facebook btn-lg">Facebook</button>
                  </div>
                </div>
              </div>

            </div>

          </form>
        </div> <!-- end col-7 -->

        <div class="col-lg-5 col-md-5 col-sm-12 sign-up--image-right">
          <div class="row">
            <div class="col-md-12 col-sm-12 d-flex align-items-center justify-content-around push-down">
              <h4 class="heading-tertiary">Dont have an account ?</h4>
              <a href="{% url 'main_app:landing' %}"><button type="button" class="btn btn-alt btn-lg px-5">Sign Up</button></a>
                <br/>


            </div>

          </div>

        </div> <!-- end col-5 -->

      </div>
    </div>

  </section>



  <!-- footer  -->
      <div class="container">
      <h4 class="heading-tertiary" >Forgot Password ? <a href="{% url 'password_reset' %}" style="color: #2ba84a; text-decoration: none" >Reset Password </a></h4>
</div>
  {% endblock %}
