{% extends 'base3.html' %}

{% block head %}
    {% load crispy_forms_tags %}
    <div class="input-group input--style-3">
    <h2 class="font-weight-bold mt-3" style="color: green"> Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one.</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn--green" type="submit">Send email</button>
    </form>
    </div>
{% endblock %}