{% extends 'baseauth.html' %}
{% load static %}
{% block title %}
{#    <link rel="stylesheet" media="all" href={% static "vendor/select2/select2.min.css"%} >#}
{#    <link rel="stylesheet" media="all" href={% static "vendor/datepicker/daterangepicker.css"%} >#}
    <link rel="stylesheet" href="../../../static/styles/usersignup.css">
    <!-- Main CSS-->
    <link rel="stylesheet" media="all" href={% static "css/main.css"%} >
    <title>Klin Lag</title>
{% endblock %}
{% block card %}
    <div class="p-t-180 p-b-100 font-lato">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
{% block body %}
    {% load crispy_forms_tags %}

    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3 " style="color: green">Password reset complete</h2>
		<hr>
        <p class="text-dark">Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'main_app:login' %}" class="btn btn--green">Log in</a>
    </div>

{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}