@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}
/***********************************
* NAVBAR
************************************/
.header__navigation {
  font-size: 1.6rem;
}
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-nav.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav.main-nav li {
  position: relative;
}
.navbar-link {
  color: #000 !important;
}

.navbar-nav.main-nav a {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.hero{
    width: 100%;
    height: 558px;
    margin-bottom: 100px;
}
@media only screen and (max-width: 800px) {
    .hero {
        height:auto;
    }
}
.work{
    display: flex;
    margin: 30px;

}
.work h6{
    font-size: 16px;
    font-weight: 700;
}
.work-item{
flex:1;
margin:30px;
font-size: 14px;
font-weight: 400;
text-align: center;
}
@media only screen and (max-width: 800px) {
    .work {
      display: flex;
      flex-direction: column;
    }
  }

.feature{
    display: flex;
    margin: 30px;

}
.feature-item{
    display: inline;
    flex:1;
    margin:30px;
    font-weight: 600;
    text-align: center;
    }
    .recyclable{
        display: flex;
        background-color: #F3F2F1;
        margin: 30px;
        width: 556px;
        height: 165px;

      }
      .recyclable img{
        float: right;
        max-width: 135px;
        margin-top: 20px;
        margin-right: 20px;
        height: 119px;

      }
      .text{
        padding:40px;
        text-align: left;
      }
      .collect h3{
        text-align: center;
        font-size: 25px;
        font-weight: 800px ;
        font-weight: bold;
        margin-bottom: 50px;

      }
      .recyclable  h3{
        text-align: center;
        font-size: 25px;
        font-weight: 800px ;
        margin-bottom: 20px;
    }
    .collect h3 p{

        font-size:20px;
  }

      .collect_container{
        display:flex;
      }
      .hian container{

      }
      @media only screen and (max-width: 800px) {
          .collect_container {
            display: flex;
            flex-direction: column;
          }
        }
         .more  {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
            margin-top: 100px;

        }

        .testimonial{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 380px;
            width: 556px;
            border-radius: 15px;
            background-color:#F3F2F16E;


        }
        .ceo-img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            clip-path: circle();



        }
        .center{
            margin-left: 50px;
            margin-right: auto;

        }

        .ceo-caption{
           font-size: 20px;
           text-align: center;
        }
        .ceo-caption p{
            font-size: 12px;
            margin-top: 30px;;
        }
        .sam form button{
            background-color:#2ba84a;
            padding: 8px;
            border-style: none;
            color: white;
            border-radius: 5px;
            margin-left: 20px;
            height: 44px;
            width: 121px;
            padding: 12px, 24px, 12px, 24px;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 22px;
            letter-spacing: 0.04em;
            text-align: center;


          }
          .sam form input  {
            border-radius: 9px;
            padding: 10px 10px;
            margin-right: 2px;
            font-size: 16px;
            margin-left: 500px;
            height: 72px;
            width: 471px;
            border :1px solid #2ba84a;

          }
          @media only screen and (max-width: 800px) {
            .sam form input {
              display: flex;
              margin-left: 100px
            }
            .sam form button{
                margin-left: 250px;
                margin-top: 20px;
            }
        }

