{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{#<html>#}
{#<div class="container py-5">#}
{#    <h1 class="text-info">Login</h1>#}
{#    <form method="post" novalidate>#}
{#    {% csrf_token %}#}
{#        {{login_form}}#}
{#    <button class="btn btn-info" type="submit">Login</button>#}
{#    </form>#}
{#    </div>#}
{##}
{#    <p class="text-center">Don't have an account? <a href="{% url 'main_app:landing' %}" class="text-info">Sign Up.</a>.</p>#}
{#</html>#}
                    <h2 class="title">Login</h2>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="input-group input--style-3" >
                            {{ login_form|crispy }}
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Login</button>
                        </div>

                    </form>
                    <br/> <br/>
                    <p class="text-center text-light">Don't have an account? <a href="{% url 'main_app:landing' %}"
                                                                     style="color: green">Sign Up.</a>.</p>


{% endblock %}